# INGENIERÍA DE DATOS PARA LOGS

El proceso a realizar es el siguiente:
1. Imputación de datos
2. Tratamiento de outliers
3. Análisis descriptivo
4. Transformación y escalamiento de atributos

In [20]:
import pandas as pd

logs_validacion = pd.read_csv('logs_validacion.csv')

In [21]:
logs_validacion.head()

,Unnamed: 0,username,time,event_type,grouped_event_type,chapter,sequential
0,36,05743498d061bf472df897f1e5bdda6d62e99312c952e3...,2022-08-04 16:49:20.799753+00:00,/courses/course-v1:eol+INXXXX+YYYY_Z/course/,/courses/(course-code)/course/,none_page,none_page
1,37,05743498d061bf472df897f1e5bdda6d62e99312c952e3...,2022-08-04 16:49:23.351461+00:00,edx.bi.course.upgrade.sidebarupsell.displayed,edx.bi.course.upgrade.sidebarupsell.displayed,NaN,NaN
2,38,05743498d061bf472df897f1e5bdda6d62e99312c952e3...,2022-08-04 16:50:47.651708+00:00,/courses/course-v1:eol+INXXXX+YYYY_Z/course_wiki,/courses/(course-code)/course_wiki,none_page,none_page
3,39,05743498d061bf472df897f1e5bdda6d62e99312c952e3...,2022-08-04 16:50:47.652441+00:00,edx.ui.lms.link_clicked,edx.ui.lms.link_clicked,NaN,NaN
4,40,05743498d061bf472df897f1e5bdda6d62e99312c952e3...,2022-08-04 16:50:47.824654+00:00,/courses/course-v1:eol+INXXXX+YYYY_Z/wiki/eol....,/courses/(course-code)/wiki/(course-code)/,none_page,none_page

In [22]:
logs_validacion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196381 entries, 0 to 196380
Data columns (total 7 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Unnamed: 0          196381 non-null  int64
 1   username            196381 non-null  object
 2   time                196381 non-null  object
 3   event_type          196381 non-null  object
 4   grouped_event_type  196381 non-null  object
 5   chapter             184500 non-null  object
 6   sequential          184500 non-null  object
dtypes: int64(1), object(6)
memory usage: 10.5+ MB

In [23]:
logs_validacion.isna().sum()

Unnamed: 0                0
username                  0
time                      0
event_type                0
grouped_event_type        0
chapter               11881
sequential            11881
dtype: int64

In [24]:
# Genera nombres de usuario acortados automáticamente
logs_validacion['user_id'] = ['u' + str(i+1) for i in range(len(logs_validacion))]

# Crea un diccionario para mapear nombres acortados a nombres largos
diccionario_mapeo = dict(zip(logs_validacion['user_id'], logs_validacion['username']))

logs_validacion = logs_validacion.drop('username', axis=1)

column_order = ['user_id'] + [col for col in logs_validacion if col != 'user_id']
logs_validacion = logs_validacion[column_order]

In [ ]:
# GRAFICAR TODAS LAS VARIABLES NUMÉRICAS

import plotly.graph_objects as go
from plotly.subplots import make_subplots

numeric = logs_validacion.select_dtypes(["object"]).columns
n_cols = 2

fig = make_subplots(
    rows=len(numeric) // n_cols + 1, cols=n_cols, subplot_titles=numeric
)

for idx, col in enumerate(numeric):
    row_idx = idx // n_cols + 1
    col_idx = idx % n_cols + 1

    hist = go.Histogram(x=logs_validacion.loc[:, col], name=col, histnorm="probability")
    fig.add_trace(hist, row=row_idx, col=col_idx)

fig.update_layout(
    height=2000,
    title_text="Análisis Univariado de las Variables Object",
    showlegend=False,
)
fig.show()