# Entrenamiento Modelo NB

En el presente c칩digo se entrenar치 el modelo de Naive Bayes y se iterar치 para mejorarlo.

In [9]:
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import f1_score, classification_report

In [2]:
import pandas as pd
# El ../ subir una carpeta. Funciona como linux
datos = pd.read_csv('df_entrenamiento_sobre.csv')

## Agregar la informaci칩n de chapter y sequential

In [15]:
logs = pd.read_csv('../Datos filtrados/logs_entrenamiento_filtrado.csv')

In [18]:
datos

,Unnamed: 0.1,Unnamed: 0,grade,seq_4_avg,quiz_avg,seq_0_avg,seq_1_avg,seq_2_avg,seq_3_avg,duracion_sesion_avg,...,pause_video_mean,pause_video_std,speed_change_video_mean,speed_change_video_std,num_eventos_seq_0,num_eventos_seq_1,num_eventos_seq_2,num_eventos_seq_3,num_eventos_seq_4,label
0,0,0,1.000000,1.0,0.965517,1.000000,1.000000,1.000000,1.00000,4.944454,...,8.700000,7.409453,0.300000,0.674949,76.000000,384.000000,128.000000,16.000000,20.000000,1
1,1,1032,0.990000,1.0,0.956897,1.000000,0.977273,1.000000,1.00000,2.410485,...,4.428571,5.957727,0.142857,0.363137,70.000000,168.000000,90.000000,16.000000,6.000000,1
2,2,1734,1.000000,1.0,0.965517,1.000000,1.000000,1.000000,1.00000,3.794893,...,7.571429,10.399863,0.142857,0.478091,197.000000,346.000000,151.000000,47.000000,8.000000,1
3,3,2898,0.880000,1.0,0.850690,0.625000,0.909091,0.907778,1.00000,4.008391,...,13.600000,22.487457,0.600000,1.298351,177.000000,466.000000,201.000000,33.000000,9.000000,1
4,4,4203,1.000000,1.0,0.965517,1.000000,1.000000,1.000000,1.00000,9.352263,...,15.333333,25.263319,0.777778,1.060275,264.000000,810.000000,80.000000,19.000000,11.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
603,603,282522,0.940363,1.0,0.868407,1.000000,0.804222,0.779122,1.00000,5.003087,...,6.908206,10.864660,0.122678,0.272942,67.602155,244.612931,156.119639,8.036288,3.012096,0
604,604,129478,0.842813,1.0,0.813376,0.866209,0.762787,0.704212,0.69011,5.248995,...,9.150560,9.437040,0.200196,0.477776,134.394506,451.265933,186.107700,13.000000,2.929670,0
605,605,310479,0.839504,1.0,0.809557,0.947313,0.703419,0.532586,1.00000,6.482947,...,5.525875,7.274908,0.106805,0.295753,94.586866,419.706268,135.533134,22.314030,11.318209,0
606,606,168867,0.881915,1.0,0.852923,0.717063,0.817364,0.902334,1.00000,5.551731,...,15.414130,18.579293,1.461072,2.026446,127.521237,556.190787,222.634988,29.964003,10.982002,0
607,607,154541,0.935885,1.0,0.903971,1.000000,0.854285,0.979781,1.00000,4.702868,...,11.687961,17.541553,0.710228,1.122771,150.003533,407.662693,253.674614,18.691391,6.345695,0

In [16]:
logs

,Unnamed: 0.1,Unnamed: 0,username,time,event_type,grouped_event_type,chapter,sequential,label
0,0,90,2fb73a5b451fa1beba6a7e6c86cf66ab3d8bfa3fc256bb...,2022-08-04 21:19:49.001622+00:00,/courses/course-v1:eol+INXXXX+YYYY_Z/course/,/courses/(course-code)/course/,none_page,none_page,1
1,1,91,c5f32ddce577c3f4cce3bcdcb5c8e0e03933b5cc62fa18...,2022-08-04 21:27:46.305004+00:00,/courses/course-v1:eol+INXXXX+YYYY_Z/course/,/courses/(course-code)/course/,none_page,none_page,1
2,2,92,c5f32ddce577c3f4cce3bcdcb5c8e0e03933b5cc62fa18...,2022-08-04 21:27:47.169229+00:00,edx.bi.course.upgrade.sidebarupsell.displayed,edx.bi.course.upgrade.sidebarupsell.displayed,NaN,NaN,1
3,3,93,c5f32ddce577c3f4cce3bcdcb5c8e0e03933b5cc62fa18...,2022-08-04 21:29:28.915418+00:00,/courses/course-v1:eol+INXXXX+YYYY_Z/progress,/courses/(course-code)/progress,none_page,none_page,1
4,4,94,c5f32ddce577c3f4cce3bcdcb5c8e0e03933b5cc62fa18...,2022-08-04 21:29:28.921098+00:00,edx.ui.lms.link_clicked,edx.ui.lms.link_clicked,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...
422081,536600,753703,9393d69faef6f998ec13305802f4fd5c6cd3227ec17cd7...,2022-10-08 23:33:37.480114+00:00,seq_prev,seq_prev,4,1,1
422082,536601,753704,9393d69faef6f998ec13305802f4fd5c6cd3227ec17cd7...,2022-10-08 23:33:38.356583+00:00,load_video,load_video,4,1,1
422083,536602,753707,9393d69faef6f998ec13305802f4fd5c6cd3227ec17cd7...,2022-10-08 23:34:31.581133+00:00,edx.ui.lms.sequence.previous_selected,edx.ui.lms.sequence.previous_selected,4,1,1
422084,536603,753708,9393d69faef6f998ec13305802f4fd5c6cd3227ec17cd7...,2022-10-08 23:34:31.673217+00:00,/courses/course-v1:eol+INXXXX+YYYY_Z/coursewar...,/courses/(course-code)/courseware/(uuid-code1)...,none_page,none_page,1
422085,536604,753709,9393d69faef6f998ec13305802f4fd5c6cd3227ec17cd7...,2022-10-08 23:34:34.007854+00:00,load_video,load_video,4,0,1

In [27]:
# Eliminar NA y transformarlo a un string que indique el NA.
logs['chapter'].fillna('N/A', inplace=True)
logs['sequential'].fillna('N/A', inplace=True)
logs_columnas_utiles = logs[['grouped_event_type','chapter','sequential','Unnamed: 0']]

# Juntar los dataframes
datosfinal = pd.merge(datos, logs_columnas_utiles, left_on='Unnamed: 0', right_on='Unnamed: 0', how='inner')

# Crear variables binarias para cada evento, chapter y sequential porque naive bayes no trabaja con texto
df_final = pd.get_dummies(datosfinal, columns=['grouped_event_type'], prefix='GET')
df_final = pd.get_dummies(df_final, columns=['chapter'], prefix='CH')
df_final = pd.get_dummies(df_final, columns=['sequential'], prefix='SEQ')

In [48]:
# Se obtiene X e y a partir del nuevo dataset
x = datos.drop(['label','Unnamed: 0','Unnamed: 0.1'], axis=1)
y = datos['label']

In [50]:
from sklearn.model_selection import cross_val_score
modelo = GaussianNB()
modelo.fit(x, y)
training_score = cross_val_score(modelo, x, y, scoring='f1', cv=3)
print("Clasificador: ", modelo.__class__.__name__, "tiene un f1 de", round(training_score.mean(), 2) * 100)

Clasificador:  GaussianNB tiene un f1 de 53.0

In [51]:
df_validacion = pd.read_csv('data_para_validar.csv')

In [52]:
df_validacion

# Surge el problema que validaci칩n no tiene las variables que se obtuvieron con al cruzar los datos. Tengo que correr este df en el Crucetomas.ipynb

,Unnamed: 0.1,user_id,Unnamed: 0,Grade,Grade Scaled,Quiz 1: Uso de modelos matem치ticos en la econom칤a,Quiz 2: Motivaci칩n y Funci칩n de Producci칩n,Quiz 3: Preferencias y Toma de Decisiones,Quiz 4: Salario y Efectos,Quiz 5: Explicando Diferencias y Conclusi칩n,...,speed_change_video_std,0,1,2,3,4,5,6,7,none_page
0,0,u1,3,0.94,6.6,0.75,1.0,1.0,1.0,0.0,...,0.0,0.0,35.0,31.0,50.0,99.0,41.0,51.0,46.0,342.0
1,1,u2,3,0.94,6.6,0.75,1.0,1.0,1.0,0.0,...,0.0,0.0,35.0,31.0,50.0,99.0,41.0,51.0,46.0,342.0
2,2,u3,3,0.94,6.6,0.75,1.0,1.0,1.0,0.0,...,0.0,0.0,35.0,31.0,50.0,99.0,41.0,51.0,46.0,342.0
3,3,u4,3,0.94,6.6,0.75,1.0,1.0,1.0,0.0,...,0.0,0.0,35.0,31.0,50.0,99.0,41.0,51.0,46.0,342.0
4,4,u5,3,0.94,6.6,0.75,1.0,1.0,1.0,0.0,...,0.0,0.0,35.0,31.0,50.0,99.0,41.0,51.0,46.0,342.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196820,196820,u196821,608,0.51,3.6,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,149.0,0.0,124.0,24.0,96.0
196821,196821,u196822,608,0.51,3.6,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,149.0,0.0,124.0,24.0,96.0
196822,196822,u196823,608,0.51,3.6,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,149.0,0.0,124.0,24.0,96.0
196823,196823,u196824,610,0.00,1.0,0.00,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
196824,196824,u196825,613,0.00,1.0,0.00,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
y_pred = modelo.predict(df_validacion.drop(['label','Unnamed: 0','Unnamed: 0.1'], axis=1))
y_valor = df_validacion['label']